<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur3_ag95" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur3_ag95_gazebo)/urdf/common.gazebo.xacro" />

  <!-- d415 camera -->
  <!-- <xacro:arg name="use_nominal_extrinsics" default="false" />
  <xacro:arg name="add_plug" default="false" />
  <xacro:arg name="use_mesh" default="true" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />
  <xacro:sensor_d415 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
    <origin xyz="0.9 0.4 0.45" rpy="0 0 3.14"/>
  </xacro:sensor_d415> -->
  <!-- d435 camera -->
  <xacro:include filename="$(find realsense_ros_gazebo)/xacro/tracker.xacro"/>
  <xacro:include filename="$(find realsense_ros_gazebo)/xacro/depthcam.xacro"/>
  <xacro:realsense_d435 sensor_name="d435" parent_link="base_link" rate="10">
    <origin rpy="0 0 3.14 " xyz="0.9 0.4 0.45"/>
  </xacro:realsense_d435>


  <!-- ur3_ag95_gripper -->
  <xacro:include filename="$(find ur_description)/urdf/ur3.xacro"/>
  <xacro:include filename="$(find dh_robotics_ag95_description)/urdf/dh_robotics_ag95_gripper.xacro" />

  <!--dh_ag95_gripper-->
  <!-- <xacro:dh_robotics_ag95_gripper prefix="" parent="tool0" >
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:dh_robotics_ag95_gripper> -->
  <xacro:dh_robotics_ag95_gripper prefix="" parent="tool0" >
      <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:dh_robotics_ag95_gripper>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- <xacro:property name="sensor_name" value="d415" />
  <xacro:property name="rate" value="0" />
  <xacro:property name="deg_to_rad" value="0.01745329251994329577" />

  <gazebo reference="camera_link">
    <self_collide>0</self_collide>
    <enable_wind>0</enable_wind>
    <kinematic>0</kinematic>
    <gravity>1</gravity>
    <mu2>1</mu2>
    <fdir1>0 0 0</fdir1>
    <kp>1e+13</kp>
    <kd>1</kd>

    <sensor name="${sensor_name}_color" type="camera">
      <camera name="${sensor_name}">
        <horizontal_fov>${69.4*deg_to_rad}</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>RGB_INT8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>1</visualize>
    </sensor>
    <sensor name="${sensor_name}_ired1" type="camera">
      <camera name="${sensor_name}">
        <horizontal_fov>${85.2*deg_to_rad}</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>L_INT8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.05</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>90</update_rate>
      <visualize>0</visualize>
    </sensor>
    <sensor name="${sensor_name}_ired2" type="camera">
      <camera name="${sensor_name}">
        <horizontal_fov>${85.2*deg_to_rad}</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>L_INT8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.05</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>90</update_rate>
      <visualize>0</visualize>
    </sensor>
    <sensor name="${sensor_name}_depth" type="depth">
      <camera name="${sensor_name}">
        <horizontal_fov>${85.2*deg_to_rad}</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.100</stddev>
        </noise>
      </camera>
      <always_on>1</always_on>
      <update_rate>90</update_rate>
      <visualize>0</visualize>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name="${sensor_name}" filename="librealsense_gazebo_plugin.so">
      <prefix>${sensor_name}_</prefix>
      <depthUpdateRate>${rate}</depthUpdateRate>
      <colorUpdateRate>${rate}</colorUpdateRate>
      <infraredUpdateRate>${rate}</infraredUpdateRate>
      <depthTopicName>depth/image_raw</depthTopicName>
      <depthCameraInfoTopicName>depth/camera_info</depthCameraInfoTopicName>
      <colorTopicName>color/image_raw</colorTopicName>
      <colorCameraInfoTopicName>color/camera_info</colorCameraInfoTopicName>
      <infrared1TopicName>infra1/image_raw</infrared1TopicName>
      <infrared1CameraInfoTopicName>infra1/camera_info</infrared1CameraInfoTopicName>
      <infrared2TopicName>infra2/image_raw</infrared2TopicName>
      <infrared2CameraInfoTopicName>infra2/camera_info</infrared2CameraInfoTopicName>
      <colorOpticalframeName>${sensor_name}_color_optical_frame</colorOpticalframeName>
      <depthOpticalframeName>${sensor_name}_depth_optical_frame</depthOpticalframeName>
      <infrared1OpticalframeName>${sensor_name}_infrared1_optical_frame</infrared1OpticalframeName>
      <infrared2OpticalframeName>${sensor_name}_infrared2_optical_frame</infrared2OpticalframeName>
      <rangeMinDepth>0.2</rangeMinDepth>
      <rangeMaxDepth>10.0</rangeMaxDepth>
      <pointCloud>false</pointCloud>
      <pointCloudTopicName>depth/color/points</pointCloudTopicName>
      <pointCloudCutoff>0.25</pointCloudCutoff>
      <pointCloudCutoffMax>9.0</pointCloudCutoffMax>
    </plugin>
  </gazebo> -->

</robot>
