<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur3_ag95" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur3_ag95_gazebo)/urdf/common.gazebo.xacro" />

  <!-- ur3_ag95_gripper -->
  <xacro:include filename="$(find ur_description)/urdf/ur3.xacro"/>
  <xacro:include filename="$(find dh_robotics_ag95_description)/urdf/dh_robotics_ag95_gripper.xacro" />

  <!--dh_ag95_gripper-->
  <!-- <xacro:dh_robotics_ag95_gripper prefix="" parent="tool0" >
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:dh_robotics_ag95_gripper> -->
  <xacro:dh_robotics_ag95_gripper prefix="" parent="tool0" >
      <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:dh_robotics_ag95_gripper>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.8" />
  </joint>

  <!-- <joint name="trans_gripper_joint" type="fixed">
    <parent link="tool0"/>
    <child link="gripper_base_joint"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

</robot>
